
<nav class="navbar navbar-expand-lg navbar-light rounded shadow-lg bg-white">
  <div class="container-fluid">
    <img src="https://i.pinimg.com/736x/0d/cf/b5/0dcfb548989afdf22afff75e2a46a508.jpg">
    <a class="navbar-brand m-1" routerLink="/signin">IndianWings</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active history" aria-current="page" *ngIf="loggedIn" routerLink="/history">History</a>
        </li>
      </ul>
      <form class="d-flex">
        <button *ngIf="loggedIn" class="btn btn-outline-primary m-1" routerLink="#" type="submit">Logout</button>
        <!-- <button routerLink="/history" *ngIf="loggedIn" class="btn btn-primary m-1">History</button> -->
        <button *ngIf="!loggedIn" class="btn btn-outline-primary m-1" routerLink="/signin" type="submit">Login</button>
        <button *ngIf="!loggedIn" class="btn btn-outline-primary m-1" routerLink="/signup" type="submit">Register</button>
      </form>
    </div>
  </div>
</nav>